body{
    margin: 0;
    padding: 0 20vw;
}

#heading{
    display: flex;
    justify-content: center;
}


/*  Color - Codes  */
.Personal{
    background-color: blueviolet;
}

.Work{
    background-color: rgb(42, 187, 110);
}

.School{
    background-color: rgb(219, 227, 49);
}

.Cleaning{
    background-color: rgb(245, 142, 23);
}

.Others{
    background-color: rgb(52, 60, 212);
}


/*             */
#description{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 10px 0px 20px 10px;
}

#description input{
    width: 90%;
}

input, select{
    margin-top: 5px;
    padding: 5px;
}


#container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#category-box,#date-box{
    width: 50%;
    padding: 10px 10px 20px 10px;
    border-bottom: 2px solid gray;
}

#category-box{
    border-right: 2px solid gray;
}

#category-box select{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    padding: 15px;
    margin: 20px;
    border: none;
}

button:hover{
    cursor: pointer;
}

button i{
    margin: 0px 5px;
}

#list-box{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.item{
    display: flex;
}

.item:nth-child(odd){
    background-color: rgb(214, 214, 214);
}

.item:nth-child(even){
    background-color: rgb(177, 177, 177);
}

.item1{
    display: flex;
    align-items: center;
    padding: 5px;
}

.item2{
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item2 h3{
    margin: 0px;
}

#date{
    font-size: 12px;
}

#list-category{
    width: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
}

#add-btn{
    background-color: rgb(82, 82, 82);
    color: white;
}

#del-btn{
    background-color: rgb(241, 59, 59);
    color: white;
}

.fa-calendar-days{
    margin-right: 5px;
    color: gray;
}